{
  "presets": [
    ["next/babel", {
      "preset-env": {
        "modules": "commonjs",
        "targets": {
          "node": "current",
          "browsers": [
            "last 2 versions"
          ]
        }
      }
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose" : true }],
    "@babel/plugin-proposal-do-expressions"
  ]
}